/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/Gilroy-Regular.woff), url(../../fonts/Gilroy-Regular.woff2);
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../../fonts/Gilroy-Semibold.woff), url(../../fonts/Gilroy-Semibold.woff2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 14px;
  line-height: 1.25;
  font-family: Gilroy, sans-serif;
  color: #e7e7e7;
  background-color: #191919;
  counter-reset: section;
}

body.modal-open {
  overflow: hidden;
}

ol li,
ul li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover, a:focus {
  color: #df3d3a;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 60px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 80px;
  }
}

.section {
  padding-bottom: 52px;
}

@media (min-width: 768px) {
  .section {
    padding: 50px 0 50px;
  }
}

@media (min-width: 1440px) {
  .section {
    padding: 85px 0 85px;
  }
}

.btn {
  display: block;
  min-width: 280px;
  height: 58px;
  padding: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: 1px solid #df3d3a;
  color: rgba(255, 255, 255, 0.8);
  background-color: #df3d3a;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #df3d3a;
}

@media (min-width: 768px) {
  .btn {
    min-width: 294px;
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .btn {
    min-width: 290px;
    height: 68px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
}

@media (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 54px;
    margin-bottom: 50px;
  }
}

.subtitle {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: #e7e7e7;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 16px;
    line-height: 1.45;
  }
}

@media (min-width: 1440px) {
  .subtitle {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.text {
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
  .text {
    font-size: 16px;
    line-height: 1.45;
  }
}

@media (min-width: 1440px) {
  .text {
    font-size: 20px;
    line-height: 1.45;
  }
}

.mb32 {
  margin-bottom: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0 30px;
}

@media (max-width: 1439px) {
  .header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191919;
    z-index: 3;
  }
}

.header__logo {
  z-index: 3;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

@media (min-width: 1440px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .nav__menu .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
}

@media (max-width: 1439px) {
  .burger {
    width: 32px;
    margin-left: auto;
    background: none;
    z-index: 3;
    -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger:hover .burger__line {
    background-color: #df3d3a;
  }
}

@media (min-width: 1440px) {
  .burger {
    display: none;
  }
}

.burger__line {
  display: block;
  width: 24px;
  height: 2px;
  margin: 5px 0;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger.is-open .burger__line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 6px);
          transform: rotate(45deg) translate(4px, 6px);
}

.burger.is-open .burger__line:nth-child(2) {
  opacity: 0;
}

.burger.is-open .burger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -6px);
          transform: rotate(-45deg) translate(4px, -6px);
}

@media (max-width: 1439px) {
  .burger ~ .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 100px;
    padding-bottom: 24px;
    width: 100%;
    z-index: 2;
    overflow: auto;
    background-color: #191919;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 20px 80px #000000;
            box-shadow: 0px 20px 80px #000000;
  }
}

@media (max-width: 1439px) and (max-width: 767px) {
  .burger ~ .nav__menu {
    height: 100vh;
  }
}

@media (max-width: 1439px) and (min-width: 768px) {
  .burger ~ .nav__menu {
    padding-top: 125px;
    padding-bottom: 100px;
    min-height: 368px;
  }
}

.burger.is-open ~ .nav__menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.nav__menu.is-active {
  height: 100vh;
}

@media (min-width: 1440px) {
  .nav__item:not(:last-child) {
    margin-right: 77px;
  }
}

.nav__link {
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1439px) {
  .nav__link {
    display: inline-block;
    padding: 12px 12px 12px 0;
  }
}

@media (min-width: 768px) {
  .nav__link {
    font-size: 16px;
    line-height: 1.18;
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: 19px;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding-top: 48px;
  }
}

@media (min-width: 768px) {
  .hero__container {
    max-width: 768px;
    padding-right: 0;
    padding-left: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .hero__container {
    max-width: 1440px;
  }
}

.hero__description {
  max-width: 240px;
}

.hero__description:not(:first-child) {
  margin-top: 16px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .hero__description:not(:first-child) {
    margin-bottom: 105px;
  }
}

@media (min-width: 1440px) {
  .hero__description {
    max-width: 321px;
    font-size: 16px;
    line-height: 1.25;
  }
  .hero__description:not(:first-child) {
    margin-top: 36px;
    margin-bottom: 110px;
  }
}

@media (max-width: 1439px) {
  .hero__left {
    max-width: 294px;
  }
}

@media (min-width: 1440px) {
  .hero__title--wrap {
    max-width: 470px;
    margin-left: 104px;
  }
}

.hero__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
}

@media (min-width: 768px) {
  .hero__title {
    margin-bottom: 40px;
    font-size: 42px;
  }
}

@media (min-width: 1440px) {
  .hero__title {
    margin-bottom: 70px;
    font-size: 74px;
    line-height: 1;
  }
}

@media (max-width: 767px) {
  .hero__btn {
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .design__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 768px;
    padding-left: 0;
  }
}

@media (min-width: 1440px) {
  .design__container {
    max-width: 1440px;
  }
}

@media (min-width: 768px) {
  .design__content {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 294px;
  }
}

@media (min-width: 1440px) {
  .design__content {
    max-width: 557px;
  }
}

@media (min-width: 768px) {
  .design__image {
    margin-right: 60px;
  }
}

@media (min-width: 1440px) {
  .design__image {
    margin-right: 150px;
  }
}

@media (min-width: 1440px) {
  .design__list {
    max-width: 510px;
  }
}

.design__item {
  margin-bottom: 24px;
}

.design__item:last-child {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .design__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .design__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .design__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .design__subtitle {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
  }
}

@media (min-width: 1440px) {
  .design__subtitle {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .benefits__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 170px;
  }
}

@media (max-width: 1439px) {
  .benefits__list:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media (min-width: 1440px) {
  .benefits__list {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.benefits__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 37px;
}

.benefits__item:not(:last-child) {
  margin-bottom: 16px;
}

.benefits__item:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 13px;
  height: 13px;
  background-color: #df3d3a;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .benefits__item:before {
    top: auto;
  }
}

.promo {
  position: relative;
}

.promo__bg {
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .promo__bg {
    margin-bottom: 32px;
    height: 293px;
    background-image: url("../images/promo/promo-bg320.jpg");
  }
}

@media (min-width: 768px) {
  .promo__bg {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    background-size: cover;
    height: 293px;
    background-image: url("../images/promo/promo-bg768.jpg");
  }
}

@media (min-width: 1440px) {
  .promo__bg {
    top: 185px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    max-width: 1440px;
    background-image: url("../images/promo/promo-bg1440.jpg");
    height: 524px;
  }
}

@media (min-width: 768px) {
  .promo__title {
    margin-bottom: 357px;
    text-align: right;
  }
}

@media (min-width: 1440px) {
  .promo__title {
    margin-bottom: 624px;
  }
}

@media (max-width: 767px) {
  .promo__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .promo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -30px;
  }
}

@media (min-width: 1440px) {
  .promo__list {
    margin: 0 -34px;
    padding: 0 110px;
  }
}

@media (min-width: 768px) {
  .promo__item {
    margin: 0 30px;
  }
}

@media (min-width: 1440px) {
  .promo__item {
    margin: 0 34px;
  }
}

@media (min-width: 768px) {
  .features__container {
    max-width: 768px;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1440px) {
  .features__container {
    max-width: 1440px;
  }
}

@media (min-width: 768px) {
  .features__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .features__wrap {
    padding-left: 110px;
  }
}

@media (min-width: 768px) {
  .features__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 271px;
            flex: 0 0 271px;
  }
}

@media (min-width: 1440px) {
  .features__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 380px;
            flex: 0 0 380px;
  }
}

@media (min-width: 1440px) {
  .features__image {
    position: relative;
  }
}

@media (max-width: 767px) {
  .features__text {
    margin-bottom: 32px;
  }
}

.garanties__container {
  position: relative;
}

@media (min-width: 1440px) {
  .garanties__container:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 260px;
    height: 111px;
    background-image: url(../images/history/Union-desktop.svg);
  }
}

@media (min-width: 768px) {
  .garanties__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1440px) {
  .garanties__container {
    max-width: 1360px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .garanties__content {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 24px;
  }
}

@media (min-width: 1440px) {
  .garanties__content {
    padding-left: 0;
    margin-left: 40px;
    max-width: 400px;
  }
}

@media (min-width: 768px) {
  .garanties__image {
    position: absolute;
    top: 0;
    left: -40px;
  }
}

@media (min-width: 1440px) {
  .garanties__image {
    position: relative;
  }
}

.garanties__item {
  position: relative;
  padding-top: 40px;
}

.garanties__item:first-child {
  margin-bottom: 24px;
}

.garanties__item:last-child {
  margin-bottom: 32px;
}

.garanties__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  background-color: #df3d3a;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .garanties__item:first-child {
    margin-bottom: 32px;
  }
  .garanties__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .garanties__item:first-child {
    margin-bottom: 61px;
  }
}

@media (min-width: 768px) {
  .history__container {
    max-width: 768px;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .history__container {
    max-width: 1360px;
  }
}

@media (min-width: 768px) {
  .history__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 60px;
  }
}

@media (min-width: 1440px) {
  .history__wrapper {
    padding-left: 110px;
  }
}

.history-upper {
  position: relative;
}

@media (max-width: 767px) {
  .history-upper:after {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    width: 116px;
    height: 82px;
    background-image: url(../images/history/Union.svg);
  }
}

@media (min-width: 768px) {
  .history-upper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 32px;
  }
}

@media (min-width: 1440px) {
  .history-upper {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .history-upper__content {
    width: 294px;
  }
}

@media (min-width: 1440px) {
  .history-upper__content {
    width: 400px;
  }
}

.history-upper__title {
  max-width: 174px;
}

@media (max-width: 767px) {
  .history-upper__text:last-child {
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .history-upper__text:not(:last-child) {
    margin-bottom: 16px;
    width: 272px;
  }
}

@media (min-width: 1440px) {
  .history-upper__text:not(:last-child) {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .history-upper__picture {
    margin: 32px 0;
  }
}

.history-below {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 767px) {
  .history-below__picture {
    margin: 32px 0;
  }
}

@media (min-width: 768px) {
  .history-below__picture {
    margin-right: 60px;
  }
}

@media (min-width: 1440px) {
  .history-below__picture {
    margin-right: 260px;
  }
}

@media (min-width: 768px) {
  .history-below__content {
    width: 294px;
  }
}

@media (min-width: 1440px) {
  .history-below__content {
    width: 510px;
  }
}

@media (min-width: 768px) {
  .history-below__quote--pre {
    margin-bottom: 108px;
    width: 268px;
  }
}

@media (min-width: 1440px) {
  .history-below__quote--pre {
    width: 501px;
    margin-bottom: 89px;
  }
}

.history-below__quote {
  margin-bottom: 16px;
  padding-top: 50px;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: #e7e7e7;
}

.history-below__quote:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 25px;
  background-image: url(../../images/history/parentheses-svg.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .history-below__quote {
    padding-top: 80px;
    margin-bottom: 32px;
    width: 257px;
    font-size: 20px;
    line-height: 1.25;
  }
}

@media (min-width: 1440px) {
  .history-below__quote {
    font-size: 28px;
    width: 359px;
  }
}

.history-below__author {
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 1440px) {
  .history__content {
    width: 400px;
    margin-right: 150px;
  }
}

@media (min-width: 768px) {
  .history__title {
    margin-bottom: 33px;
    width: 174px;
  }
}

@media (min-width: 768px) {
  .history__text:first-child {
    margin-bottom: 16px;
  }
}

.reviews__poster {
  width: 100%;
  margin-bottom: 32px;
}

.reviews__subtitle {
  color: #df3d3a;
}

.reviews__text {
  margin-bottom: 32px;
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__item {
  position: relative;
  margin-bottom: 0;
  margin-right: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #df3d3a;
  opacity: .2;
}

.reviews__item.current {
  opacity: 1;
}

.reviews__item:not(:last-child):after {
  content: '-';
  margin-left: 20px;
}

@media (min-width: 1440px) {
  .faq__container {
    padding: 0 110px;
  }
}

.faq__item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.faq__item:not(:last-child) {
  margin-bottom: 24px;
}

.faq__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
  list-style: none;
  position: relative;
  cursor: pointer;
}

.faq__summary:before {
  counter-increment: section;
  content: "0" counter(section);
  margin-right: 16px;
  font-size: 20px;
  color: #e7e7e7;
  font-family: "Roboto Condensed", sans-serif;
}

@media (min-width: 1440px) {
  .faq__summary:before {
    font-size: 28px;
    margin-right: 32px;
  }
}

.faq__summary:after {
  content: "?";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

@media (min-width: 768px) {
  .faq__summary:after {
    margin-left: auto;
  }
}

@media (min-width: 1440px) {
  .faq__summary:after {
    font-size: 28px;
    width: 42px;
    height: 42px;
  }
}

@media (min-width: 768px) {
  .faq__summary {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.faq__subtitle {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 767px) {
  .faq__subtitle {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .faq__subtitle {
    font-size: 16px;
  }
}

.faq__description {
  margin-top: 16px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 24px;
}

@media (min-width: 1440px) {
  .faq__description {
    padding-left: 60px;
    width: 952px;
  }
}

.order__picture {
  display: block;
  margin-bottom: 32px;
}

.btn__circle {
  width: 44px;
  height: 44px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #dbdbdb;
}

.btn__circle:first-child {
  background-color: #101010;
}

.btn__circle:not(:last-child) {
  margin-right: 24px;
}

.btn__circle.active {
  border: 2px solid #df3d3a;
}

.order__link {
  position: relative;
  display: block;
  padding-top: 26px;
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
}

.order__link:last-child {
  margin-bottom: 32px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .order__link:last-child {
    margin-bottom: 52px;
  }
}

.order__link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/order/arrow-svg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.order__price {
  margin-bottom: 24px;
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #df3d3a;
}

@media (min-width: 768px) {
  .order__price {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.feedback__picture {
  margin-bottom: 52px;
  display: block;
}

@media (min-width: 768px) {
  .feedback__picture {
    margin-bottom: 100px;
  }
}

@media (min-width: 1440px) {
  .feedback__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 110px;
    display: flex;
  }
}

@media (min-width: 1440px) {
  .feedback__title {
    width: 400px;
  }
}

.feedback__help {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
  .feedback__help {
    margin-bottom: 52px;
  }
}

@media (min-width: 1440px) {
  .feedback__help {
    width: 400px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.25;
    color: #e7e7e7;
  }
}

@media (min-width: 1440px) {
  .feedback__form {
    width: 510px;
  }
}

.feedback__label {
  position: relative;
  display: block;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .feedback__label:nth-last-child(3) {
    margin-bottom: 40px;
  }
}

.feedback__input, .feedback__textarea {
  width: 100%;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: white;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__input:not(:last-child), .feedback__textarea:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.feedback__input + span, .feedback__textarea + span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__input:focus, .feedback__textarea:focus {
  border-color: red;
}

.feedback__input:focus + span, .feedback__textarea:focus + span {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  color: #df3d3a;
}

.feedback__input:hover, .feedback__textarea:hover {
  border-color: #df3d3a;
}

.feedback__input:hover + span, .feedback__textarea:hover + span {
  color: #df3d3a;
}

@media (min-width: 1440px) {
  .feedback__input + span, .feedback__textarea + span {
    font-size: 20px;
  }
}

.feedback__input:not(:placeholder-shown) + span, .feedback__textarea:not(:placeholder-shown) + span {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.feedback__input {
  padding-bottom: 15px;
}

.feedback__input:focus {
  border-color: red;
}

.feedback__textarea {
  padding-bottom: 60px;
  resize: none;
}

.feedback__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}

.feedback__checkbox a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .feedback__checkbox {
    margin-bottom: 52px;
  }
}

@media (min-width: 1440px) {
  .feedback__checkbox {
    font-size: 16px;
    margin-bottom: 89px;
  }
}

.feedback__check {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 24px;
  border: 2px solid white;
}

.feedback__check svg {
  position: absolute;
  top: -5px;
  left: 4px;
  fill: transparent;
  stroke: transparent;
  -webkit-transition: stroke 250ms linear;
  transition: stroke 250ms linear;
}

.feedback__accept:checked + .feedback__check svg {
  stroke: #df3d3a;
}

.feedback__btn {
  background-color: transparent;
}

@media (min-width: 1440px) {
  .feedback__btn {
    width: 100%;
  }
}

.footer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .footer__lists {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1440px) {
  .footer__lists {
    padding-left: 110px;
  }
}

.footer__list {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 767px) {
  .footer__list:first-child {
    margin-bottom: 52px;
  }
}

@media (min-width: 768px) {
  .footer__list {
    -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
  }
}

@media (min-width: 1440px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }
  .footer__list:not(:last-child) {
    margin-right: 50px;
  }
}

.footer__item {
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.3);
}

.footer__item:not(:last-child) {
  margin-bottom: 24px;
}

@media (min-width: 1440px) {
  .footer__item {
    font-size: 16px;
  }
  .footer__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.footer__tel {
  display: block;
  font-size: 16px;
  line-height: 1.18;
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
  .footer__tel {
    margin-left: auto;
  }
}
/*# sourceMappingURL=main.css.map */