.design {
    &__container {
        @media (min-width: 768px) {
            display: flex;
            position: relative;
            justify-content: flex-end;
        }
    }

    &__content {
        @media (min-width: 768px) {
            flex-basis: 50%;
            order: 1;
            padding-left: 40px;
        }
    }

    &__image {
        @media (min-width: 768px) {
            position: absolute;
            left: -40px;
        }
    }
    
    &__list {
        @media (min-width: 1360px) {
            max-width: 510px;
        }
    }

    &__item {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 32px;
        }
    
        @media (min-width: 1360px) {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}




