.design {
    &__container {
        @media (min-width: 768px) {
            display: flex;
            max-width: 768px;
            padding-left: 0;
        }
        @media (min-width: 1440px) {
            max-width: 1440px;
        }
    }

    &__content {
        @media (min-width: 768px) {
            flex-basis: 50%;
            order: 1;
            max-width: 294px;
        }
        @media (min-width: 1440px) {
            max-width: 557px;
        }
    }

    &__image {
        @media (min-width: 768px) {
            margin-right: 60px;
        }
        @media (min-width: 1440px) {
            margin-right: 150px;
        }
    }

    &__list {
        @media (min-width: 1440px) {
            max-width: 510px;
        }
    }

    &__item {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 32px;
        }
        @media (min-width: 768px) {
            &:last-child {
                margin-bottom: 0;
            }
        }

        @media (min-width: 1440px) {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__subtitle {
        @media (min-width: 768px) {
            margin-bottom: 16px;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.25;
        }
        @media (min-width: 1440px) {
            font-size: 28px;
            margin-bottom: 20px;
        }
    }
}
