.design__container--flex {
    @media (min-width: 768px) {
        display: flex;
        position: relative;
        justify-content: flex-end;
    }
}

.design__content {
    @media (min-width: 768px) {
        flex-basis: 50%;
        order: 1;
        padding-left: 40px;
    }
}

.design__image {
    @media (min-width: 768px) {
        position: absolute;
        left: -40px;
    }
}

.design__list {
    @media (min-width:1360px) {
        max-width: 510px;
    }
}

.design__item {
    margin-bottom: 24px;
    &:last-child {
        margin-bottom: 32px;
    }

    @media (min-width:1360px) {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
