.faq {
    &__container {
        @media (min-width: 1440px) {
            padding: 0 190px;
        }
    }

    &__item {
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &__summary {
        display: flex;
        padding-bottom: 24px;
        list-style: none;
        position: relative;
        cursor: pointer;

        &:before {
            counter-increment: section;
            content: "0" counter(section);
            margin-right: 16px;
            font-size: 20px;
            color: $titlesColorWhite;
            font-family: "Roboto Condensed", sans-serif;

            @media (min-width: 1440px) {
                font-size: 28px;
                margin-right: 32px;
            }
        }

        &:after {
            content: "?";
            flex-shrink: 0;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;

            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;

            @media (min-width: 768px) {
                margin-left: auto;
            }

            @media (min-width: 1440px) {
                font-size: 28px;
                width: 42px;
                height: 42px;
            }
        }

        @media (min-width: 768px) {
            justify-content: flex-start;
        }
    }

    &__subtitle {
        margin-bottom: 0;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        @media (max-width: 767px) {
            width: 200px;
        }
        @media (min-width: 768px) {
            font-size: 16px;
        }
        @media (min-width: 1440px) {
            font-size: 28px;
        }
    }

    &__description {
        margin-top: 16px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 24px;

        @media (min-width: 1440px) {
            padding-left: 60px;
            width: 952px;
        }
    }
}
