.features__container {
    @media (min-width: 768px) {
        padding-right: 0;
        display: flex;
    }
}

.features__wrap {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
    @media (min-width: 1440px) {
        padding-left: 110px;
    }
}

.features__content {
    @media (min-width: 768px) {
        flex: 0 0 271px;
    }

    @media (min-width: 1440px) {
        flex: 0 0 380px;
    }
}

.features__image {
    @media (min-width: 1440px) {
        position: relative;
    }
}

.features__text {
    @media (max-width: 767px) {
        margin-bottom: 32px;
    }
}
