.features {
    &__container {
        @media (min-width: 768px) {
            padding-right: 0;
            display: flex;
        }
    }

    &__wrap {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
        @media (min-width: 1440px) {
            padding-left: 110px;
        }
    }

    &__content {
        @media (min-width: 768px) {
            flex: 0 0 271px;
        }
    
        @media (min-width: 1440px) {
            flex: 0 0 380px;
        }
    }

    &__image {
        @media (min-width: 1440px) {
            position: relative;
        }
    }

    &__text {
        @media (max-width: 767px) {
            margin-bottom: 32px;
        }
    }
}
