@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../fonts/Gilroy-Regular.woff), url(../../fonts/Gilroy-Regular.woff2);
}
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../../fonts/Gilroy-Semibold.woff), url(../../fonts/Gilroy-Semibold.woff2);
}
