.garanties__container {
    position: relative;
    @media (min-width: 1440px) {
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: -20px;
            width: 260px;
            height: 111px;
    
            background-image: url(../images/history/Union-desktop.svg);
        }
    }
    @media (min-width: 768px) {
        display: flex;
        position: relative;
        justify-content: flex-end;
    }

    @media (min-width: 1440px) {
        max-width: 1360px;
        justify-content: flex-start;
    }
}

.garanties__content {
    @media (min-width: 768px) {
        flex-basis: 50%;
        order: 1;
        padding-left: 24px;
    }

    @media (min-width: 1440px) {
        padding-left: 0;
        margin-left: 40px;
        max-width: 400px;
    }
}

.garanties__image {
    @media (min-width: 768px) {
        position: absolute;
        top: 0;
        left: -40px;
    }

    @media (min-width: 1440px) {
        position: relative;
    }
}

.garanties__item {
    position: relative;
    padding-top: 40px;
    &:first-child {
        margin-bottom: 24px;
    }
    &:last-child {
        margin-bottom: 32px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 13px;
        height: 13px;

        background-color: $orangeColor;
        border-radius: 50%;
    }

    @media (min-width: 768px) {
        &:first-child {
            margin-bottom: 32px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (min-width: 1440px) {
        &:first-child {
            margin-bottom: 61px;
        }
    }
}
