// Hero
.hero {
    padding-top: 20px;
}

.hero__description {
    font-size: 14px;
    line-height: 1.25;

    color: $textColorWhiteRgba;
    &:not(:first-child) {
        margin-top: 16px;
        margin-bottom: 32px;
    }
}

.hero__title {
    margin-bottom: 32px;

    font-weight: 600;
    font-size: 34px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $titlesColorWhite;
}

.hero__img {
    width: 100%;
}
