.history {
    &__container {
        @media (min-width: 768px) {
            max-width: 768px;
            padding: 0;
        }

        @media (min-width: 1360px) {
            max-width: 1360px;
        }
    }

    // .history__wrapper
    &__wrapper {
        @media (min-width: 768px) {
            display: flex;
            padding-left: 60px;
        }
        @media (min-width: 1360px) {
            padding-left: 110px;
        }
    }

    &-upper {
        @media (min-width: 768px) {
            justify-content: space-between;
            margin-bottom: 32px;
        }

        @media (min-width: 1360px) {
            margin-bottom: 50px;
        }

        &__content {
            @media (min-width: 768px) {
                width: 294px;
            }

            @media (min-width: 1360px) {
                width: 400px;
            }
        }

        &__title {
            max-width: 174px;
        }

        &__text {
            @media (min-width: 768px) {
                &:not(:last-child) {
                    margin-bottom: 16px;
                    width: 272px;
                }
            }

            @media (min-width: 1360px) {
                &:not(:last-child) {
                    width: 400px;
                }
            }
        }
    }

    &-below {
        align-items: flex-end;
        &__picture {
            @media (min-width: 768px) {
                margin-right: 60px;
            }

            @media (min-width: 1360px) {
                margin-right: 260px;
            }
        }

        &__content {
            @media (min-width: 768px) {
                width: 294px;
            }

            @media (min-width: 1360px) {
                width: 510px;
            }
        }

        &__quote--pre {
            @media (min-width: 768px) {
                margin-bottom: 108px;
                width: 268px;
            }

            @media (min-width: 1360px) {
                width: 501px;
                margin-bottom: 89px;
            }
        }

        &__quote {
            position: relative;

            color: $titlesColorWhite;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 34px;
                height: 25px;

                background-image: url(../../images/history/parentheses-svg.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }

            @media (min-width: 768px) {
                padding-top: 80px;
                margin-bottom: 32px;
                width: 257px;

                font-size: 20px;
                line-height: 1.25;
            }

            @media (min-width: 1360px) {
                font-size: 28px;
                width: 359px;
            }
        }

        &__author {
            font-size: 16px;
            line-height: 1;
            color: rgba(255, 255, 255, 0.4);
        }
    }
    // .history__content
    &__content {
        @media (min-width: 1360px) {
            width: 400px;
            margin-right: 150px;
        }
    }
    // .history__title
    &__title {
        @media (min-width: 768px) {
            margin-bottom: 33px;
            width: 174px;
        }
    }
}

.history__text {
    @media (min-width: 768px) {
        &:first-child {
            margin-bottom: 16px;
        }
    }
}
