.history {
    @media (min-width: 1360px) {
        &__container {
            max-width: 1360px;
            padding: 0;
        }
    }
    // .history__wrapper
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-left: 110px;

        &:first-child {
            margin-bottom: 50px;
        }

        &:last-child {
            align-items: flex-end;
            padding-right: 190px;
            .history__quote--pre-text {
                margin-bottom: 89px;
            }
            .history__content {
                width: 510px;
                margin-right: 0;
            }
            .history__quote--text {
                position: relative;
                margin-bottom: 32px;
                padding-top: 82px;

                font-weight: 600;
                font-size: 28px;
                line-height: 1.25;
                color: $titlesColorWhite;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 34px;
                    height: 25px;

                    background-image: url(../../images/history/parentheses-svg.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            .history__quote--author {
                font-size: 16px;
                line-height: 1;
                color: rgba(255, 255, 255, 0.4);
            }
        }
    }
    // .history__content
    &__content {
        @media (min-width: 1360px) {
            width: 400px;
            margin-right: 150px;
        }
    }
    // .history__title
    &__title {
    }
    // .history__text
    &__text {
    }
    // .history__picture
    &__picture {
        @media (min-width: 1360px) {
            // flex: 0 1 700 / 1360 * 100%;
        }
    }
}
