.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: opacity 250ms $cubic-bezier;
    z-index: 10;

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        .modal {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    max-width: 450px;
    width: 100%;
    min-height: 581px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: $mainBgColor;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $cubic-bezier;

    @media (max-width: 530px) {
        width: 80%;
        min-height: unset;
        padding: 25px;

        .feedback__checkbox {
            font-size: 12px;
        }

        .feedback__check {
            margin-right: 10px;
        }
    }

    @media (min-width: 1200px) {
        max-width: 528px;
    }

    .feedback__form {
        width: unset;
    }

    .feedback__label {
        justify-content: center;
    }

    .feedback__btn {
        margin: 0 auto;
    }

    .feedback__btn {
        @media (max-width: 540px) {
            min-width: 100%;
        }
    }
}
.close__button {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 30px;
    height: 30px;


    background-color: transparent;

    &:hover,
    &:focus {
        .close__icon {
            fill: $orangeColor;
        }
    }
}
.close__icon {
    transition: fill 250ms $cubic-bezier;
    fill: $titlesColorWhite;
}
.modal__title {
    margin-bottom: 32px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.modal__title {
    color: $titlesColorWhite;
}
