.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: opacity 250ms $cubic-bezier;
    z-index: 10;

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        .modal {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    max-width: 450px;
    width: 100%;
    min-height: 581px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: $mainBgColor;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $cubic-bezier;

    @media (min-width: 1200px) {
        max-width: 528px;
    }

    .feedback__form {
        width: unset;
    }

    .feedback__label {
        justify-content: center;
    }

    .feedback__btn {
        margin: 0 auto;
    }

    // .feedback__label:focus .feedback__textarea:not(:placeholder-shown)+span {
    //     transform: translateY(-25px);
    // }
}
.close__button {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 30px;
    height: 30px;


    background-color: transparent;

    &:hover,
    &:focus {
        .close__icon {
            fill: $orangeColor;
        }
    }
}
.close__icon {
    transition: fill 250ms $cubic-bezier;
    fill: $titlesColorWhite;
}
.modal__title {
    margin-bottom: 32px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}
.form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form__comment {
    margin-bottom: 20px;
    height: 120px;
}
.form__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: grey;
}
.form__block {
    position: relative;
}
.form__input {
    height: 40px;
    width: 100%;
    padding: 12px 15px;

    background-color: transparent;
}

.form__input,
.form__comment {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);

    color: $titlesColorWhite;
    background-color: transparent;
    resize: none;
    transition: border 250ms $cubic-bezier;
}

.form__input,
.form__comment {
    &:focus {
        outline: none;
        border-bottom: 2px solid $orangeColor;
    }
}
.form__input:focus + .form__icon {
    fill: blue;
}
.form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms $cubic-bezier;
}
.form__comment {
    padding: 12px 16px;
}

.checkbox__field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.checkbox__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 9px;

    border: 2px solid grey;
    border-radius: 2px;
}

.checkbox__input:checked + .checkbox__icon {
    border-color: transparent;
    background-color: blue;
    background-image: url("../images/icon-check.svg");
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox__label {
    color: white;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    @media (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;
    }
}
.checkbox__label {
    a {
        color: blue;
        text-decoration: underline;
    }
}

.modal__title {
    color: $titlesColorWhite;
}
