.promo {
    position: relative;

    &__bg {
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: 767px) {
            margin-bottom: 32px;
            height: 293px;

            @include bg-img(
                "../images/promo/promo-bg320.jpg"
            );
        }
        @media (min-width: 768px) {
            position: absolute;
            top: 110px;
            left: 0;
            width: 100%;
            background-size: cover;
            height: 293px;
            @include bg-img(
                "../images/promo/promo-bg768.jpg"
            );
        }
        @media (min-width: 1440px) {
            top: 185px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 1440px;
            @include bg-img(
                "../images/promo/promo-bg1440.jpg"
            );

            height: 524px;
        }
    }
}

.promo__title {
    @media (min-width: 768px) {
        margin-bottom: 357px;
        text-align: right;
    }
    @media (min-width: 1440px) {
        margin-bottom: 624px;
    }
}

.promo__item {
    @media (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
}

.promo__list {
    @media (min-width: 768px) {
        display: flex;
        margin: 0 -30px;
    }

    @media (min-width: 1440px) {
        margin: 0 -34px;
        padding: 0 110px;
    }
}

.promo__item {
    @media (min-width: 768px) {
        margin: 0 30px;
    }

    @media (min-width: 1440px) {
        // margin: 0 20px;
        margin: 0 34px;

        // &:first-child {
        //     padding-left: 110px;
        // }
        // &:last-child {
        //     padding-right: 110px;
        // }
    }
}
