.reviews {
    &__container {
        position: relative;
        @media (min-width: 1440px) {
            display: flex;
            padding-left: 0;
        }
    }

    &__left {
        @media (min-width: 768px) {
            height: 417px;
            margin-bottom: 32px;
        }
        @media (max-width: 1439px) {
            margin-top: 55px;
        }
        @media (min-width: 1440px) {
            flex: 0 0 920px;
            height: 590px;
            margin-bottom: 0;
        }
    }

    &__video {
        width: 100%;
        height: 100%;

        @media (max-width: 1439px) {
            margin-bottom: 32px;
            margin-top: 0;
        }
    }

    &__right {
        @media (min-width: 1440px) {
            flex: 0 0 290px;
            margin-left: auto;
        }
    }

    &__title {
        @media (max-width: 1439px) {
            position: absolute;
            top: 0;
            left: 0;
            margin-bottom: 32px;
        }
    }

    &__subtitle {
        color: $orangeColor;
    }

    &__text {
        margin-bottom: 32px;
        @media (min-width: 768px) {
            max-width: 530px;
        }
        @media (min-width: 1440px) {
            margin-bottom: 70px;
        }
    }

    &__list {
        display: flex;
    }

    &__item {
        position: relative;
        margin-bottom: 0;
        margin-right: 14px;

        font-family: "Roboto Condensed", sans-serif;
        color: $orangeColor;
        opacity: 0.2;
        &.current {
            opacity: 1;
        }
        &:not(:last-child):after {
            content: "-";
            margin-left: 20px;
        }
    }
}
