// Base styles
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    font-size: 14px;
    line-height: 1.25;
    font-family: Gilroy, sans-serif;
    color: $titlesColorWhite;
    background-color: $mainBgColor;

    counter-reset: section;
}
body.modal-open {
    overflow: hidden;
}
ol li,
ul li {
    list-style: none;
}
button {
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
    transition: color 250ms $cubic-bezier;
    &:hover,
    &:focus {
        color: $orangeColor;
    }
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
input,
button,
textarea {
    font-family: inherit;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 480px) {
        max-width: 480px;
    }

    @media (min-width: 768px) {
        max-width: 688px;
    }

    @media (min-width: 1360px) {
        max-width: 1320px;
    }
}

.section {
    padding-bottom: 52px;
    @media (min-width: 768px) {
        padding: 50px 0 50px;
    }
    @media (min-width: 1360px) {
        padding: 85px 0 85px;
    }
}

.btn {
    display: block;
    min-width: 280px;
    height: 58px;
    padding: 20px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border: 1px solid $orangeColor;
    color: $textColorWhiteRgba;
    background-color: $orangeColor;

    transition: background-color 250ms $cubic-bezier, border 250ms $cubic-bezier,
        color 250ms $cubic-bezier;
    &:hover,
    &:focus {
        background-color: transparent;
        border: 1px solid $textColorWhiteRgba;
        color: $orangeColor;
    }
    @media (min-width: 768px) {
        min-width: 294px;
        margin-bottom: 0;
    }

    @media (min-width: 1360px) {
        min-width: 290px;
        height: 68px;

        font-size: 20px;
        line-height: 1.2;
    }
}

.title {
    margin-bottom: 32px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $titlesColorWhite;

    @media (min-width: 768px) {
        font-size: 30px;
    }

    @media (min-width: 1360px) {
        font-size: 54px;
        margin-bottom: 50px;
    }
}

.subtitle {
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.25;
    color: $titlesColorWhite;
    @media (min-width: 768px) {
        font-size: 16px;
        line-height: 1.45;
    }

    @media (min-width: 1360px) {
        font-size: 28px;
        margin-bottom: 20px;
    }
}

.text {
    font-size: 14px;
    line-height: 1.25;
    color: $textColorWhiteRgba;
    @media (min-width: 768px) {
        font-size: 16px;
        line-height: 1.45;
    }

    @media (min-width: 1360px) {
        font-size: 20px;
        line-height: 1.45;
    }
}

.mb32 {
    margin-bottom: 32px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
